/* ELEMENT SELECTORS */

a {
    color: blue;
}

body {
    background-color: #d9e6f2;
    text-align: center;
    font-family: Verdana, sans-serif;
    margin-bottom: 70px;
}

div {
    border: 0px solid black;
    display: block;
}

td, th {
    padding: 5px 10px;
    text-align: center;
}

/* CLASS SELECTORS */

.menulinks {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

.menulinks:hover {
    background-color: #d9e6f2;
}

.whitebg {
    background-color: white;
}

.button{
    color: white;
}

.button:hover{
    color: white;
    text-decoration: none;
}

.inline {
    display: inline-block;
}

.list {
    text-align: left;
    margin: auto;
    border: 2px solid red;
}

.games {
    font-size: 20pt;
}

.center-in-div {
    display: block;
    margin: 0 auto;
}

.text-right {
    text-align: right;
}

/* ID SELECTORS */

#canvasDiv {
    width: 650px;
    height: 450px;
    display: block;
    background-color: white;
}

#container {
    clear: both;
}

#footer { 
    text-align: center;
    position: fixed; 
    padding: 10px 10px 0px 10px; 
    bottom: 0; 
    width: 100%;
    height: 70px;
    background: grey; 
}

#logotitle {
    width: 478px;
    height: 128px;
    margin: auto;
}

#pagetitle {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

#registerform {
    text-align: left;
    display: inline-block;
}

#wbudowie {
    font-size: 50px;
    color: red;
    font-weight: bold;
}



/* HEADER */

#top {
    text-align: center;
    display: inline-block;
    width: 100%;
}

#logo {
    float: left;
}

#title {
    font-size: 20px;
    font-weight: bold;
    float: left;
    width: 180px;
    height: 64px;
    line-height: 64px;
}

#links {
    float: right;
    font-size: 15px;
    color: green;
    padding: 5px 5px 5px 5px;
    max-width: inherit;
    line-height: 54px;
}

/* END HEADER */

/* KALAMBURY */

#kalambury-container {
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    width: 1006px;
    height: 558px;
}

#kalambury-left {
    border-right: 2px solid black;
    float: left;
    width: 652px;
    height: 554px;
}

#kalambury-right {
    float: left;
    width: 350px;
    height: 554px;
}

#kalambury-word {
    height: 52px;
    border-bottom: 2px solid black;
}

#kalambury-canvas {
    height: 452px;
    border-bottom: 2px solid black;
}

#kalambury-tools {
    height: 50px;
}

#kalambury-players {
    height: 252px;
    border-bottom: 2px solid black;
}

#kalambury-chat {
    height: 252px;
    border-bottom: 2px solid black;
}

#kalambury-message {
    height: 50px;
}

/* END KALAMBURY */